body{
    background-color: #d0ccd0;
    color: #00356b;
}
h1{
    text-align: center;
    font-family: "Rubik Pixels", system-ui;
    font-style: normal;
    font-size: xx-large;
}
#message{
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
    
}
#genre-image{
    height: 600px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#all{
    display: block;
    margin: auto;
    background-color: #00356b;
    color: white;
}
#all:hover{
    background-color: #b9d9eb;
    color: black;
}
